.idea/*
bin
lib
pyvenv.cfg
volume/.local
volume/.cache
volume/.config
volume/.bash_history
volume/.npm
volume/__pycache__
volume/.ipython
volume/.jupyter
.database
.DS_Store
.credentials
.config
pyvenv.cfg
.password
volume/.python_history
volume/.yarnrc
volume/.conda/
